@{
    ViewBag.Title = "My Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>My LinkedIn <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/eugene-chepurko/">https://www.linkedin.com/in/eugene-chepurko/</a></p>
    <p>My GitHub <a target="_blank" rel="noopener noreferrer" href="https://github.com/EugeneChepurko">https://github.com/EugeneChepurko</a></p>
</address>